{% extends 'base.html' %}
{% block content %}
<div class="container">
    <div class="categories">
        {% for cat in cats %}
            {% if cat in cats_list %}
                <a href="{{cat.get_absolute_url}}">{{cat.name}}</a>
            {% endif %}
        {% endfor %}
    </div>

    <div class="menu">
        {% for product in products %}
            {% if product.user %}
            {% else %}
                <a href="{{product.get_absolute_url}}">
                <div class="cart_product">
                    <img src="{{product.photo.url}}">
                    <div class="product_info">
                        <h3>{{product.name}}</h3>
                        <p>{{product.structure|capfirst|slice:140}}...</p>
                        <p class="price">{{product.price}} BYN</p>
                    </div>
                </div>
                </a>
            {% endif %}
        {% endfor %}
    </div>
</div>
{% endblock %}