{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
    <link type="text/css" rel="stylesheet" href="{% static 'delivery_app/css/style.css' %}">
</head>
<body>
<div class="container">
    <div class="login">
        <a href="{% url 'home' %}"><= На главную</a>

        <form method="post">
            {% csrf_token %}
            <p class="profile_bonus">Бонусы: {{user.bonus}} BYN</p>
            {% for f in form %}
            <label>{{f.label}}:</label>
            <div class="field">{{f}}</div>
            {% endfor %}
            <button type="submit">Сохранить</button>
        </form>
    </div>
</div>
</body>
</html>